services:
  - type: web
    name: brain-tumor-api
    env: python
    region: virginia
    plan: free
    pythonVersion: 3.10.13

    buildCommand: python -m pip install --upgrade pip setuptools wheel && pip install -r brain-tumor-chatbot/requirements.txt

    startCommand: uvicorn app.main:app --app-dir brain-tumor-chatbot --host 0.0.0.0 --port $PORT

    envVars:
      - key: OPENAI_API_KEY
        scope: build,runtime
        sync: false
      - key: PORT
        value: 8000
      - key: DEBUG
        value: false
